<li class="mvDtl col s8 m9 l10">

    {{!-- User name and rating paragraph --}}
    <div id="user-paragraph">
        {{!-- user name span --}}
        <span class="col s4">
            {{#each reviews.allUser}}
            <p id="userName">User Name: {{this}} </p>
            {{/each}}
        </span>

        {{!-- user rating span --}}
        <span class="col s4">
            {{#each reviews.rating}}
            <p id="usrRating">User Rating: {{this}}</p>
            {{/each}}
        </span>

        {{!-- user review span --}}
        <span class="col s4">
            {{#each reviews.review}}
            <p>Review/Comment:</p>
            <p id="comment">{{this}}</p>
            {{/each}}
        </span>
    </p>

</li>