<li class="mvDtl col s8 m9 l10">

    {{!-- User name and rating paragraph --}}
    <p id="userName">
        <span class="col s4">
            {{#each reviews.allUser}}
            <p style="color: #59d8e5">User Name: {{this}}</p>
            {{/each}}
        </span>
        <span class="col s4">
            {{#each reviews.rating}}
            <span id="usrRating">
                <p style="color: #FFD64F">User Rating: {{this}}</p>
            </span>
            {{/each}}
        </span>
    </p>

    {{!-- User comment section --}}
    <div class="col s4">
        {{#each reviews.review}}
        <p>Comment:</p>
        <p id="comment">
            {{this}}{{!-- {{lookup reviews @index}} --}}
        </p>
        {{/each}}
    </div>
</li>