<li class="mvDtl col s8 m9 l10">

    {{!-- User name and rating paragraph --}}
    <p id="userName">
        <span class="col s4">
            {{#each reviews.allUser}}
            <span>User Name: {{this}}</span>
            {{/each}}
        </span>
    </p>
    <p id="usrRating">
        <span class="col s4">
            {{#each reviews.rating}}
                <p style="usrRating">User Rating: {{this}}</p>
            {{/each}}
        </span>
    </p>

    {{!-- User comment section --}}
    <div class="col s4">
        {{#each reviews.review}}
        <p>Comment:</p>
        <p id="comment">
            {{this}}{{!-- {{lookup reviews @index}} --}}
        </p>
        {{/each}}
    </div>
</li>