<!-- ========================= Nav Bar =======================-->
<nav>
    <div class="nav-wrapper">
        <a href="/home" class="brand-logo">
            <div id="navLogoBox">
                <img id="navLogo" src="/assets/images/MovieRackLogo.png" alt="Movie Rack Logo" />
            </div>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
            <li><a href="/ratings">Ratings</a></li>
            <li><a href="/account">Account</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/home">Home</a></li>
    <li><a href="/rating">Ratings</a></li>
    <li><a href="/account">Account</a></li>
</ul>

<!-- ====================================== Main Content ==================================================== -->
<div class="container">
    <div class="row">
        <!-- ================ movie details ================ -->
        <div class="mainContent darkerBg col s12">
            <div class="row">
                <div class="col s10 offset-s1 mvDtl" id="review">
                    <div class="row">
                        <!-- poster image -->
                        <div class="col s4 m3 l2">
                            {{!-- img from movieObj --}}
                            <img class="mvImg" src="/assets/images/uh-oh.jpg" />
                        </div>
                        <!-- Titles, Year, Rating-->
                        <div class="col s8 m9 l10">
                            <div>
                                <!-- Title, Year -->
                                <div class="row">
                                    <div class="col s12">
                                        <h5 class="left" id="title">This title does not have a rating yet</h5>
                                    </div>
                                </div>
                                <a href="/home"><p class="mrRating">Be the First to rate it!!</p></a>
                            </div>
                        </div>
                    </div>
                    <!--Take section above and apply dynamically (SAM NOTES) -->
                </div>
            </div>
        </div>
    </div>
    <div class="btmSpacer s12"></div>
</div>