/* Dark Grey: 2F3738 */
/* Orange: F7941D */
/* Light Blue 59D8E5 */
/* Red: D64700 */
/* font-family: 'Muli', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: white;
  line-height: 120%;
}

p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 150%;
  color: white;
}

#navLogo {
  height: 35px;
}

#navLogoBox {
  margin-top: 0.25em;
  margin-left: 0.25em;
}

.nav-wrapper {
  background-color: #2f3738;
}

body {
  background: url("../images/pexels-photo-436413.jpeg") no-repeat center center
    fixed;
  background-size: cover;
}

.mainContent {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  margin-top: 2em;
  padding: 1em;
}

.formWrap {
  background-color: white;
  padding: 1em;
  color: black;
  margin: 1em auto;
  
}

.mvImg {
  width: 100px;
}

.mvImgWrap {
  margin-top: 1em;
}
.mvTitle h5 {
  color: #d64700;
  font-size: 1.5em;
  font-weight: 700;
}
.mvTitle p {
  color: black;
  line-height: 115%;
}
.formP {
    color: #2F3738;
    text-align: center;
    margin-top:1em;
    font-weight: 700;
   
}

.btn {
    background-color: #F7941D;
}

.formWrap .row{
    margin-bottom: .5em
}

.btn {
    margin-bottom: .5em;
}

.carousel { 
  overflow: visible;
  }

  

