/* Dark Grey: 2F3738 */
/* Dark Blue Grey: #17607D */
/* Dark Dark Blue Grey #002A4A */
/* Med Grey: #647678 */
/* Light Grey: #9FBCBF */
/* Orange: #F7941D */
/* light orange #FFD64F */
/* Light Blue #59D8E5 */
/* Red: D64700 */

/* font-family: 'Muli', sans-serif; */

/* Typeography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: white;
  line-height: 1.35;
}
h6 {
  font-size: 1.25rem;
}
p {
  font-family: "Muli", sans-serif;
  font-weight: 300;
  line-height: 150%;
  color: white;
}

/* nav styling */
#navLogo {
  height: 35px;
}
#navLogoBox {
  margin-top: 0.25em;
  margin-left: 0.5em;
}
.nav-wrapper {
  background-color: #2f3738;
}
.sidenav {
  background-color: #2f3738;
}
.sidenav li > a {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.8);
}

/* body styling */
body {
  background: url("../images/pexels-photo-436413.jpeg") no-repeat center center
    fixed;
  background-size: cover;
}

#dtlBody {
  background: url("../images/pexels-photo-1353368.jpeg ") no-repeat center
    center fixed;
  background-size: cover;
}
.mainContent {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em;
}

.darkerBg {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.intro h6 {
  color: white;
  margin-top: 1.5em;
  background-color: #647678;
  padding: 0.75em 0.75em 0.75em 0.75em;
}

/* Form Styling */
.formWrap {
  background-color: white;
  padding: 1em;
  color: black;
  margin: 1em auto;
}
.mvImg {
  /* width: 100px; */
  max-width: 100%;
  height: auto;
}
.mvImgWrap {
  margin-top: 1em;
}
.mvTitle h5 {
  color: #d64700;
  font-size: 1.5em;
  font-weight: 700;
}

.mvTitle p {
  /* color: black; */
  /* line-height: 115%; */
  font-size: 80%;
  font-weight: 700;
  color: #647678;
}
.year-released {
  float: right;
  text-align: right;
}

.formP {
  color: #2f3738;
  text-align: center;
  margin-top: 1em;
  font-weight: 700;
}

.mvDtl {
  margin-top: 2em;
}

.mvDtl h5 {
  color: #FFD64F;
  font-size: 1.5em;
  font-weight: 700;
}
.mvDtl p {
  /* color: black; */
  /* line-height: 115%; */
  /* font-size: 100%; */
  font-weight: 300;
  color: white;
}
.mvDtl .year-released {
  color: #9fbcbf;
  font-size: 80%;
  font-weight: 700;
}

.mvDtl #userName, .mvDtl #userName0, .mvDtl #userName1, .mvDtl #userName2  {
  margin-top: .5em;
  color: #59d8e5;
  font-weight: 600;
}

.mvDtl #comment, .mvDtl #comment0, .mvDtl #comment1, .mvDtl #comment2  {
  border-bottom: 2px solid #9fbcbf;
  padding-bottom: 0.5em;
  margin-bottom: .5em;
}

.mvDtl .otherRatings {
  color: #9fbcbf;
  margin-bottom: .25em;
  font-weight: 600;
}

.mvDtl #usrRating, .mvDtl #usrRating0, .mvDtl #usrRating1, .mvDtl #usrRating2 {
  color: #FFD64F;
}

#locationBtn {
  background-color: #647678;
  margin-top: 1em;
  margin-right: 1em;
}
#submitBtn {
  background-color: #17607d;
  margin-top: 1em;
}
.btn-div {
  display: block;
}
form p {
  color: black;
  padding: 11px;
}

/*  search by name subhead */
.static-search-p {
  margin-top: 1.5em;
  color: #9fbcbf;
  border-top: 4px solid #9fbcbf;
  padding-top: 0.5em;
  font-weight: 400;
}

/* submit button for search by name*/
#search-movie {
  background-color: #17607d;
}
.formWrap .row {
  margin-bottom: 0.5em;
}


/* carousel styling */
.carousel {
  overflow: hidden;
  
  /* height: 300px; */
}

/* footer styling */
#footer {
  background-color: #647678;
}
#footer p {
  font-weight: 300;
}
#footerLogo {
  width: 175px;
  margin-top: 0.5em;
}

/* Media Queries */

@media screen and (max-width: 817px){
  .btn-div {
      display: block;
  }
  form p {
    padding: 0;
  }
}
@media screen and (max-width: 633px){

  #footer {
    text-align: center;
  }
}
